<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{plantillas/base :: head}">
        <title>Carnero Tuning</title>
    </head>
    <body>
        <header th:replace="~{plantillas/base :: header}"/>

        <section th:replace="~{categoria/fragmentos :: botonesAgregar}"/>
        <section th:replace="~{categoria/fragmentos :: agregarCategoria}"/> 
        <section th:replace="~{categoria/fragmentos :: listadoCategorias}"/>

        <footer th:replace="~{plantillas/base :: footer}"/>      
      
         </head>
    </body>       
</html>







