<!DOCTYPE html>

<html>
    <head>
        <title>CARNERO TUNING CR</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="estilo.css">
    </head>
    <body>
        <ul class="Menu">
            <li> <a href="#">INICIO</a></li>
            <li> <a href="#">SERVICIOS</a></li>
            <li> <a href="#">PRODUCTOS</a></li>
            <li> <a href="#">CONTACTOS</a></li>
            <li> <a href="#">SOPORTE</a></li>
            <li> <a href="#">COMENTARIOS</a></li>  
        </ul>
        
        
        
        
        
        <footer>
             
        </footer>    
    </body>
</html>
