<!DOCTYPE html>
<html>
    <head th:replace="plantillas/base ::head"> 
        <title>CARNERO TUNING CR</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="estilo.css">
        <link rel="stylesheet" href="styles/estilo.css" type="text/css"/>
    </head>
    <body>
        <nav th:replace="plantillas/base ::nav"></nav>
        <br>
        <div class="text-center">
            <h3>Bienvenido a Carnero Tunning CR</h3>
            <h5>La mejor opcion para el mantenimiento y configuracion de su vehiculo</h5>
        </div>
        <br>
        <div th:replace="plantillas/base ::images"></div>
        <footer th:replace="plantillas/base ::footer"></footer>
    </body>
</html>
