<!DOCTYPE html>

<html>
    <head>
        <title>CARNERO TUNING CR</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="estilo.css">
        <link rel="stylesheet" href="styles/estilo.css" type="text/css"/>
    </head>
    <body>
        <nav th:replace="plantillas/base ::nav"></nav>
         <div class="text-center">
            <h3>LUCES Y AUDIOS</h3>
            <h6>Servicios</h6>
        </div>
        <footer th:replace="plantillas/base ::footer"></footer>
    </body>
</html>
